    <% if @tarea%>
        <form action="/<%= @tarea['id'] %>" method="post">
          <input type="hidden" name="_method" value="delete">
            <div class="form-group">
                <label for="tarea">elimnar tarea:</label>
                <textarea class="form-control" id="exampleTextarea" rows="3">
                    <%= @tarea['title'] %>
                </textarea>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-danger">delete</button>
            <a href="/">Cancel</a>
            <!-- <a href="/"><button type="submit" class="btn btn-primary">Cancel</button></a> -->
        </form>



    <% else %>
            <p>page not foudn</p>
    <% end %>