<a href="/">back</a>
<h1>tareas terminadas </h1>
<% @tareas.each do |tarea| %>

    <section>
        <% if tarea['done'] == true %>
        <br>
        <div class="card card-body bg-light">
            <p><%= tarea['title'] %></p>
            <a href="/<%= tarea['id'] %> ">eliminar tarea</a>
            

        </div>
        <% end  %>
        
    </section>

<% end %>
